

.bg{
  background: #f0f0f0; 
}

h1{
	color: black;
  text-align: center;
  font-family: "Times New Roman";
}

#chat{
  background: #FFFFFF;
  border: 2px solid black;
  height: 500px;
  width: 800px;
  margin: 0 auto;
  overflow-x: none; 
  overflow-y: auto; 
}

#online{
  text-align: right;
}

p{
  margin: 1px;
}

.todo-button-re{
  width: 20px;
  height: 20px;
  background: url("http://icons.iconarchive.com/icons/pixelkit/gentle-edges/128/Edit-icon.png");
  background-size: cover;
  line-height: 40px;
  font-size: 40px;
  text-decoration: none;
  border: none;
}

.exit{
  width: 20px;
  height: 20px;
  background: url("http://www.iconsearch.ru/ajax/download.php?icon_id=28818&size=6&format=png");
  background-size: cover;
  line-height: 40px;
  font-size: 40px;
  text-decoration: none;
  border: none;
}

.btn-re-fresh{
  width: 20px;
  height: 20px;
  background: url("http://iconspot.ru/files/186384.png");
  background-size: cover;
  line-height: 40px;
  font-size: 40px;
  text-decoration: none;
  border: none;
}

.todo-result-text{
  float: right;
  margin-right: 5px;
}

.todo-button-del{
  width: 20px;
  height: 20px;
  background: url("http://megaicons.net/static/img/icons_sizes/8/178/512/editing-delete-icon.png");
  background-size: cover;
  line-height: 40px;
  font-size: 40px;
  text-decoration: none;
  border: none;
}

.message {
  border-bottom: 1px solid black;
}

.myMessage{
  border-bottom: 1px solid black;
  padding: 10px;
}

.text {
  text-align: left;
  width: 92%;
}

aside {
  float: right;
}

.addMessage{
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  height: 100px auto;
  width: 800px;
  margin: 0 auto;
}

.myName{
  color: black;
  border: 0px;
  margin-left: 5px;
  margin-bottom: 0; 
  font-size: 20px; 
}

.edit{
  color: blue;
}

.delete{
  color: red;
}

textarea {
  width: 667px;
  height: 100px;
  margin: 5px;
  color: #444;
  padding: 5px;
  overflow: auto;
  resize: vertical;

  background: #FFFFFF;
  color: black;
  border: 1px solid #C0CAD5;
  outline: 0;
  border-radius: 2px;
  line-height: 150%;
  word-wrap: break-word;
  cursor: text;
}

footer{
  width: 900px;
  border-bottom:6px solid #282828;
  background: #8f8383;
  padding:20px;
  margin: 0 auto;
  color:#666;
  padding-bottom: 5px;
  font-family: ‘Times New Roman’, Georgia, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 17px;
  text-align: right;
}

@media  screen and (max-width: 450px){

  div#chat {
    position: fixed;
    width: 100%;
    height: 50%;
    background: #FFFFFF;
    border: 2px solid black;
    margin-left: 0px;
    margin-right: 5px;
    overflow-y: auto;
  }

  .addMessage{
    top: 60%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    height: auto;
    width: 97%;
    margin: 0 auto;
    position: fixed;
  }

  textarea#todoText{
    width: 94%;
    position: relative;
  }

  button#addButton {
    margin-left: 5px;
    margin-bottom: 5px;
  }
}